@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: url("../images/background.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;

  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 2rem;

  color: #fff;
  text-shadow: 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;

  justify-content: space-around;
}

.containerIMC {
  width: 500px;

  display: flex;
  justify-content: space-around;
  color: #fff;
  padding: 1rem;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.containerCalc {
  width: 500px;

  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 1rem;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.containerCalc input {
  width: 100%;

  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
}

.containerCalc img {
  width: 4.5rem;
  margin-right: -3rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.buttonContainer button {
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;

  cursor: pointer;
}

.lowWeight {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(3, 4, 94, 0.25);
  height: 200px;
  border-radius: 20px;

  text-align: center;
}
.normalWeight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(4, 231, 98, 0.25);
  border-radius: 20px;

  text-align: center;
}

.overWeight {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(247, 127, 0, 0.25);
  border-radius: 20px;

  text-align: center;
}

.obesity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background: rgba(208, 0, 0, 0.25);
  border-radius: 20px;

  text-align: center;
}

@media (max-width: 990px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .containerIMC {
    margin-bottom: 1rem;
  }
}
